.procurements-sheet{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::ng-deep .read-only-class {
    background-color: #f0f0f0 !important;
}

.date-picker{
    font-weight: bold;
    font-style: oblique;
    font-size: large;
}

.save{
    margin-left: 50px;
}