.producers-bill{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.control{
    font-weight: bold;
    font-style: oblique;
    font-size: large;
}

.control-right{
    float: right;
}