<div class="sheet">
    <h2 class="no-print">{{title}} (Start Date:
        <input class="control" type="date" [value]="billStartDate | date:'yyyy-MM-dd'"
            (change)="changeDate($event, 'billStartDate')" [disabled]="(disableChanges ? 'disabled' : '')">
        ) to (End Date:
        <input class="control" type="date" [value]="billEndDate | date:'yyyy-MM-dd'"
            (change)="changeDate($event, 'billEndDate')" [disabled]="(disableChanges? 'disabled' : '')">
        )
        <span class="right"> (Total:
            <input class="control" type="checkbox" [checked]="showTotal" [disabled]="(disableChanges? 'disabled' : '')"
                (change)="changeShowTotal($event)">
            )</span>
    </h2>
    <div class="center">
        <h2 class="print">
            {{title}} {{billStartDate | date:'dd.MM.yyyy'}} To {{billEndDate | date:'dd.MM.yyyy'}}
        </h2>
    </div>
    <br />
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <span class="highlight p-10">Producer Name:</span>
                        <span class="no-print">
                            <select class="control" [value]="selectedProducer?.code"
                                [disabled]="(disableChanges? 'disabled' : '')" (change)="changeProducer($event)">
                                <option *ngFor="let producer of producers" [value]="producer.code">{{producer.name}}
                                </option>
                            </select>
                        </span>
                        <span class="print">{{selectedProducer?.name}}</span>
                    </td>
                    <td><span class="highlight p-10">Bank Account
                            Number:</span>{{selectedProducer?.bankAccountNumber}}</td>
                </tr>
                <tr>
                    <td>
                        <span class="highlight p-10">Producer Code:</span>
                        <span class="no-print">
                            <select class="control" [value]="selectedProducer?.code"
                                [disabled]="(disableChanges? 'disabled' : '')" (change)="changeProducer($event)">
                                <option *ngFor="let producer of producers" [value]="producer.code">{{producer.code}}
                                </option>
                            </select>
                        </span>
                        <span class="print">{{selectedProducer?.code}}</span>
                    </td>
                    <td><span class="highlight p-10">IFSC Code:</span>{{selectedProducer?.bankIfscCode}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><span class="highlight p-10">Contact Number:</span>{{selectedProducer?.contactNumber}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hot-table [settings]="hotSettings" [hotId]="hotId"></hot-table>
    <br /><br />
    <hot-table [settings]="loansHotSettings" [hotId]="loansHotId"></hot-table>
    <br />
    <input class="control no-print save" *ngIf="!disableChanges" type="button" (click)="save()"
        value="Save Bill for Printing" [style.left.px]="saveButtonPositionX">
    <br /><br /><br /><br /><br />
    <div class="print right highlight">
        Payment Receiver Signature
    </div>
</div>